.fs-pager-wrapper {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	text-align: center;
	align-items: center;
	z-index: 998;
}
.fs-pager-wrapper span {
	opacity: 0;
	display: inline-block;
}
.fs-pager-wrapper a {
	margin: 0 5px;
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgba(51,51,51,0.3);
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.fs-pager-wrapper a.active{
	width: 12px;
	height: 12px;
	background: #000;
}
.jms-slider-wrapper {
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0px auto;
}
.jms-slider-wrapper .slider{
	position:relative;
	width:100%; 
	margin:0 auto;
}
.jms-slider-wrapper .slide {
	overflow: hidden;
	position: absolute;
	background-size: cover !important;
}
@media (min-width: 768px){
	.fs-pager-wrapper{
		display: flex;
	}
}