/* Checkout page */
/* chekout step */
.return-to-store {
  line-height: 2rem; }

.input-group-btn {
  font-size: 0.8667rem; }

.content ul {
  padding: 0px; }
  .content ul li:first-child a {
    padding-left: 0; }

.content .tab-content #checkout-login-form.tab-pane {
  opacity: 1;
  visibility: visible;
  height: auto; }

.tab-content .form-group label {
  margin: 0; }

.tab-content .form-control-valign label {
  line-height: 1.333rem !important;
  padding-top: 0.6667rem;
  margin-right: 2rem !important; }

#checkout .show-pass > button {
  line-height: 1;
  height: 100%;
  padding: 0px 10px; }

#checkout #customer-form .form-group {
  margin-bottom: 1rem; }
  #checkout #customer-form .form-group .form-control {
    margin-bottom: 0px; }

#checkout .tab-content > .tab-pane {
  display: none; }

#checkout .tab-content > .tab-pane.active {
  display: block; }

#checkout #checkout-addresses-step {
  margin-bottom: 2rem;
  border: 1px solid #e5e5e5;
  width: 100%; }

#checkout #checkout-delivery-step {
  margin-bottom: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #e5e5e5;
  width: 100%; }

#checkout #checkout-payment-step {
  margin-bottom: 2rem;
  border: 1px solid #e5e5e5;
  width: 100%; }

#checkout #checkout-guest-form {
  margin-bottom: 3.333rem; }

#checkout #checkout-login-form .forgot-password {
  margin-bottom: 15px; }

#checkout #checkout-personal-information-step {
  border: 1px solid #e5e5e5;
  width: 100%; }

#checkout .address-footer a {
  margin-right: 6px;
  display: inline-block; }
  #checkout .address-footer a i {
    margin-right: 5px; }
  #checkout .address-footer a:last-child {
    margin-right: 0px; }

#checkout #delivery-address .form-footer {
  margin-bottom: 20px; }
  #checkout #delivery-address .form-footer button {
    margin-right: 6px; }
  #checkout #delivery-address .form-footer .js-cancel-address {
    display: inline-block; }

#checkout #footer {
  margin-top: 80px; }

#checkout section#content #js-checkout-summary p {
  text-transform: capitalize;
  padding: 0;
  color: #555;
  letter-spacing: 0.1px; }

#checkout section#content #cart-summary-product-list .media-list {
  padding: 0px; }
  #checkout section#content #cart-summary-product-list .media-list .media-body {
    padding: 0; }
    #checkout section#content #cart-summary-product-list .media-list .media-body .product-quantity {
      display: inline-block;
      margin-bottom: 0; }
  #checkout section#content #cart-summary-product-list .media-list .media {
    margin-bottom: 15px; }

#checkout #conditions-to-approve ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #checkout #conditions-to-approve ul li .condition-label {
    margin-left: 10px; }

#checkout-personal-information-step {
  margin-bottom: 2rem; }

.radio-block .custom-radio {
  position: relative;
  top: 1px; }

.form-control-comment {
  display: block; }

#customer-form .custom-checkbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  #customer-form .custom-checkbox em {
    font-size: .8rem;
    opacity: .8; }

.custom-checkbox input[type=checkbox] {
  margin-right: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.09);
  text-align: center;
  margin-top: 5px; }

.custom-checkbox label {
  text-align: left;
  display: inline;
  margin-bottom: 0; }

.custom-checkbox input[type=checkbox] + span .checkbox-checked {
  display: none;
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 10px; }

.pasword-form input {
  width: calc(100% - 100px); }

#checkout-addresses-step .address-item label {
  line-height: 30px;
  font-weight: 300; }

#js-checkout-summary {
  border: 0;
  border-bottom: 1px solid #ebebeb; }

.custom-radio {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 3px;
  vertical-align: top; }

body#checkout section.checkout-step.-complete .step-title {
  line-height: 1; }

body#checkout section.checkout-step .step-title {
  cursor: pointer;
  margin: 0;
  padding: 15px;
  color: #000;
  font-size: 15px; }

body#checkout section.checkout-step h2 {
  font-size: 1.1rem; }

body#checkout section.checkout-step .content {
  margin-top: 10px;
  display: none;
  display: none;
  padding: 0 15px 15px; }

body#checkout section.checkout-step .step-edit {
  text-transform: lowercase;
  font-weight: normal;
  display: none; }
  body#checkout section.checkout-step .step-edit .edit {
    font-size: 15px;
    margin-right: 5px; }

body#checkout section.checkout-step .not-allowed {
  cursor: not-allowed;
  opacity: 0.5; }

body#checkout section.checkout-step .done {
  display: none; }

body#checkout section.checkout-step.-current.-reachable.-complete .done {
  display: none; }

body#checkout section.checkout-step.-current.-reachable.-complete .step-edit {
  display: none; }

body#checkout section.checkout-step.-current.-reachable.-complete .step-number {
  display: inline-block; }

body#checkout section.checkout-step.-current.-reachable.-complete .content {
  display: block; }

body#checkout section.checkout-step.-current.-reachable.-current .content {
  display: block; }

body#checkout section.checkout-step.-reachable.-complete h1 .done {
  display: inline-block; }

body#checkout section.checkout-step.-reachable.-complete h1 .step-number {
  display: none; }

body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 0.125rem;
  letter-spacing: 0;
  text-transform: capitalize; }

body#checkout section.checkout-step.-reachable.-complete .content {
  display: none; }

body#checkout section.checkout-step.-current .content .address {
  font-size: 14px;
  font-weight: 400;
  padding: 0 20px; }

body#checkout section.checkout-step.-current .content .address-alias.h4 {
  font-size: 14px; }

body#checkout section.checkout-step.-current .content .address-footer {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding: 10px 0;
  text-align: right; }

body#checkout section.checkout-step.-current .content .add-address {
  margin: 20px 0; }
  body#checkout section.checkout-step.-current .content .add-address i {
    margin-right: 3px; }

body#checkout section.checkout-step.-current .content .form-control-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll right 0.5rem center/2.25rem 2.25rem !important;
  height: 40px;
  padding-right: 2rem;
  width: 100%; }

body#checkout .content #modal .modal-content {
  padding: 30px; }

#delivery {
  margin-bottom: 15px; }
  #delivery textarea {
    width: 100%; }

.done {
  display: inline-block;
  margin-right: 5px; }

#order-confirmation .mail-sent-info {
  padding: 1rem;
  background: rgba(204, 204, 204, 0.15);
  margin-bottom: 1.5rem; }

.definition-list dl {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .definition-list dl dd {
    box-flex: 0;
    -moz-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    -webkit-box-flex: 0;
    flex: 0 0 48%;
    background: rgba(204, 204, 204, 0.15);
    padding: .625rem;
    margin: .125rem; }
  .definition-list dl dt {
    box-flex: 0;
    -moz-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    -webkit-box-flex: 0;
    flex: 0 0 48%;
    background: rgba(204, 204, 204, 0.15);
    padding: .625rem;
    margin: .125rem; }

.order-confirmation-table .order-line {
  margin-bottom: 15px; }
  .order-confirmation-table .order-line .image img {
    width: 100%; }

.order-confirmation-table table {
  line-height: 1.85; }

#content-hook-order-confirmation-footer {
  margin-top: 8rem; }

#order-details ul {
  line-height: 1.85; }

#order-items table {
  width: 100%; }
  #order-items table tr td:last-child {
    text-align: right; }

.cart-summary-products .product-name {
  display: block;
  color: #111; }

.cart-summary-products .price {
  color: #000;
  font-weight: 700; }

.cart-summary-products .product-line-info .value {
  color: #000;
  font-weight: 700; }

.cart-summary-products .product-line-info .label {
  font-size: 14px; }
