/***** login ***/
#contact-wrapper.contact-layout-1 .contact-row {
  margin-top: 68px; }

#contact-wrapper h3 {
  margin-bottom: 0;
  text-align: left;
  letter-spacing: -0.3px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  text-transform: capitalize;
  color: #000;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 4px; }

#contact-info label {
  font-size: 18px;
  display: block;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #000;
  margin-bottom: 1px; }

#contact-info .section {
  font-size: 15px;
  margin-bottom: 0.6667rem; }

#contact-map .contact-box {
  width: 100%; }

#contact-form .desc {
  color: #444;
  letter-spacing: 0;
  margin-bottom: 35px; }

#contact-form .bootstrap-filestyle .btn {
  padding: 0px 1.333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }

#contact-form .addon-title {
  margin-bottom: 23px; }

#contact-form .alert ul {
  margin-bottom: 0; }

#contact-form .form-control {
  background: #f9f9f9;
  border-radius: 5px; }

#contact-form input.form-control {
  height: 38px; }

#contact-form select.form-control {
  height: 38px; }

#contact-form .form-group {
  margin-bottom: 30px; }

#contact-form .form-footer {
  margin-top: 0.4667rem; }
  #contact-form .form-footer .send-message {
    min-width: 100px; }

#contact #contact-wrapper .block-contact i {
  display: none; }

.contact-layout-3 #contact-info {
  margin-bottom: 2.667rem; }

#login-wrapper h3 {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  color: #000; }

#login-wrapper .signup-form {
  margin-top: 2rem;
  padding: 2.067rem 1.6rem 3.133rem;
  border: 1px solid #d7d7d7; }
  #login-wrapper .signup-form h3 {
    margin-bottom: 1.067rem; }

#login-wrapper .signup-content {
  line-height: 2;
  margin-bottom: 2.267rem; }

#login-wrapper .no-account a {
  color: #000; }

#login-form {
  margin-top: 2.333rem; }
  #login-form label {
    margin-bottom: 0;
    font-size: 13px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
    padding-right: 0;
    padding-left: 2.067rem; }
  #login-form .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0; }
  #login-form .form-control-comment {
    display: none; }
  #login-form .form-group {
    position: relative;
    height: 3.067rem;
    padding: 0;
    margin-bottom: 1.333rem;
    width: 100%; }
    #login-form .form-group input {
      border: 0;
      padding: 0;
      background: transparent; }
    #login-form .form-group::before {
      content: "";
      position: absolute;
      top: 0;
      border: 1px solid #ebebeb;
      width: calc(100% - 1.133rem);
      height: 100%;
      left: 1rem; }
  #login-form .show-pass {
    height: 2.267rem;
    margin-right: 0.5333rem; }
    #login-form .show-pass button {
      border: 0;
      font-size: 13px;
      text-transform: capitalize;
      font-weight: 400;
      color: #555;
      background: #ebebeb;
      height: 2.267rem;
      padding: 0 1rem; }
  #login-form .pasword-form {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #login-form .form-footer {
    margin-top: 2rem;
    padding-right: 1rem; }
  #login-form .authentication-links {
    font-size: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem; }
  #login-form .return-store {
    text-align: right; }
  #login-form .forgot-password a {
    color: #000; }
  #login-form .return-to-store {
    color: #000; }

.login-layout-2 #login-image {
  margin-bottom: 2rem; }

.login-layout-3 #login-image {
  margin-top: 2rem; }

@media (min-width: 768px) {
  #login-form label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  #login-form .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }
  .login-layout-3 #login-image {
    margin-top: 0; }
  .login-layout-2 #login-image {
    margin-bottom: 0; }
  #login-wrapper.login-layout-4 .signup-form {
    margin-left: 2rem;
    margin-top: 0.2667rem; } }
