#product h1.product-name {
  font-size: 2.308rem;
  letter-spacing: 0;
  text-transform: initial;
  margin-bottom: 0;
  margin-top: -0.4615rem;
  font-weight: 700;
  color: #000;
  font-family: "Muli", sans-serif; }

#product .breadcrumb {
  margin-bottom: 4.615rem; }
  #product .breadcrumb ul {
    padding: 2.538rem 0; }
  #product .breadcrumb .title-meta {
    display: none; }

#product .product-detail .content_price .price {
  font-size: 2.077rem;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  display: inline-block; }

#product .product-detail .content_price .price.old {
  font-weight: 400;
  font-size: 1.333rem;
  margin-right: 0.8rem; }

#product .product-detail .content_price .price.new {
  display: inline-block; }

#product .right-column {
  margin-top: 2rem; }

#product .products .preview img {
  width: 100%;
  max-width: none; }

#product .block-categories {
  margin-bottom: 2.4rem;
  padding-bottom: 0; }

#product #content {
  position: relative; }

#product #footer {
  margin-top: -7px; }

#product .product-cover .expander > span {
  color: #000;
  position: absolute;
  z-index: 100;
  font-size: 0px;
  background: transparent;
  border: 0;
  padding: 0;
  width: auto;
  opacity: 0;
  visibility: hidden; }

#product .pb-right-column .content_prices .shipping_cost {
  line-height: 2.462rem;
  margin-left: 1.154rem; }

#product .quantity-box .option {
  display: inline-block;
  float: left;
  margin-bottom: 1.154rem;
  margin-right: 2.333rem; }

#product .add .icon-handbag {
  vertical-align: middle; }

#product .modal-content {
  border: none; }

.quickview-modal .content_price .price {
  display: inline-block; }

.quickview-modal .content_price .price.old {
  font-weight: 400;
  font-size: 1.333rem;
  margin-right: 0.8rem; }

.quickview-modal .product-name {
  margin-top: 1.333rem; }

.quickview-modal .modal-header {
  padding: 1.467rem 0px; }

.product-pack h3 {
  letter-spacing: 0; }

.product-detail .pb-left-column {
  padding: 0 10px; }

.product-detail .pb-right-column {
  padding: 0 10px;
  margin-top: 2rem; }

.vertical-thumbs.images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.images-container .thumb-box .js-qv-mask.mask {
  max-height: 100%;
  overflow: hidden; }

.images-container .slick-arrow {
  color: #000;
  position: absolute;
  z-index: 100;
  font-size: 0px;
  background: transparent;
  border: 0;
  padding: 0;
  width: auto;
  opacity: 0;
  visibility: hidden; }

.modal-open .zoomWindow {
  opacity: 0; }

.zoomContainer {
  display: none; }

.product-cover {
  position: relative;
  border: 1px solid #ebebeb; }
  .product-cover .zoom-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 998; }
    .product-cover .zoom-icon i {
      font-size: 2.5rem;
      color: #000; }

.vertical-thumbs .js-qv-mask {
  overflow: hidden;
  position: relative; }
  .vertical-thumbs .js-qv-mask .slick-list {
    overflow: hidden; }

.vertical-thumbs .slick-arrow {
  display: none;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  margin: auto;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 100;
  width: 100%;
  height: 2rem;
  height: 13px; }

.vertical-thumbs .slick-prev {
  top: 0px; }
  .vertical-thumbs .slick-prev:before {
    content: "\F106";
    left: 1px;
    position: relative; }

.vertical-thumbs .slick-next {
  top: auto;
  bottom: 0px; }
  .vertical-thumbs .slick-next:before {
    content: "\F107";
    left: 1px;
    position: relative; }

.vertical-thumbs .thumb-container {
  margin-bottom: 28.4px; }

.horizonal-thumbs .slick-arrow {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 2rem;
  opacity: 0;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms; }

.horizonal-thumbs .slick-prev {
  left: 0px;
  right: auto; }
  .horizonal-thumbs .slick-prev:before {
    content: "\F104";
    left: 1px;
    position: relative; }

.horizonal-thumbs .slick-next {
  left: auto;
  right: 0px; }
  .horizonal-thumbs .slick-next:before {
    content: "\F105";
    left: 1px;
    position: relative; }

.horizonal-thumbs .js-qv-mask {
  overflow: hidden;
  margin-top: 1.538rem; }
  .horizonal-thumbs .js-qv-mask:hover .slick-arrow {
    opacity: 1; }

.horizonal-thumbs .product-cover {
  width: 100%;
  position: relative; }

.horizonal-thumbs .slick-slide {
  min-height: 1px;
  -js-display: flex;
  display: -ms-flexbox;
  display: inline-block;
  height: auto;
  text-align: center;
  padding: 0 10px; }

#product-modal .modal-body .slick-arrow {
  color: #000;
  position: absolute;
  z-index: 100;
  font-size: 0px;
  background: transparent;
  border: 0;
  padding: 0;
  width: auto;
  opacity: 0;
  visibility: hidden; }

#product-modal .modal-body .left img {
  width: 100%; }

#product-modal .fa-angle-up::before {
  content: "\e873";
  font-family: 'Linearicons-Free';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

#product-modal .fa-angle-down::before {
  content: "\e874";
  font-family: 'Linearicons-Free';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

.thumbs-right .js-qv-mask {
  margin-left: 1.538rem; }

.thumbs-left .js-qv-mask {
  margin-right: 1.538rem; }

.slick-next:before {
  font-family: FontAwesome;
  font-size: 1.467rem;
  line-height: 0.6667rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev:before {
  font-family: FontAwesome;
  font-size: 1.467rem;
  line-height: 0.6667rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.product-images {
  margin-bottom: 0;
  padding: 0px; }
  .product-images .thumb-container > .thumb {
    cursor: pointer;
    width: 100%;
    border: 1px solid #ebebeb; }
  .product-images .thumb-container > .thumb.selected {
    border: 1px solid #14c2ee !important; }

.product-layout-3columns .product-cover {
  display: none; }

.product-layout-3columns .horizonal-thumbs .thumb-container {
  margin: 0 0 10px; }

.product-layout-3columns .horizonal-thumbs .js-qv-mask {
  position: relative;
  margin-top: 0;
  bottom: 0;
  padding: 0; }

.product-layout-3columns .product-quantity {
  display: inline-block; }
  .product-layout-3columns .product-quantity .customs {
    margin-bottom: 1.538rem; }
  .product-layout-3columns .product-quantity .add .row > div {
    padding: 0; }

.product-layout-3columns .pb-right-column .product-add-to-cart {
  margin-top: 1.538rem;
  border: 0; }

.related-product {
  float: left;
  width: 100%; }

section.featured-products {
  margin-top: 8rem; }

.product-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .product-prices #product-availability {
    display: block;
    margin-left: 2.769rem; }

#product-availability span {
  display: inline-block;
  padding-top: 0.5385rem;
  letter-spacing: 0;
  color: #4c4f53;
  position: relative; }

#product-availability span.available::before {
  content: "";
  background-color: #14c2ee;
  background: url("../img/icons/checked.png") no-repeat center;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 3px;
  margin-right: 6px;
  position: relative;
  top: 2px; }

#product-availability i {
  color: red;
  font-size: 0.9231rem; }

#product-availability img {
  margin-right: 1px;
  padding-bottom: 1px; }

.product-variants .control-label {
  margin-bottom: 0.7692rem; }

.product-variants .product-variants-item.storage::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1; }

.product-variants .product-variants-item {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.692rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .product-variants .product-variants-item:not(:last-child) {
    margin-right: 6.692rem; }

.product-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.308rem; }
  .product-quantity .control-label {
    display: inline-block;
    font-size: 1rem;
    margin-right: 0;
    min-width: 3.846rem; }
  .product-quantity .customs {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 2rem; }
  .product-quantity .add {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product-quantity .add .row {
      margin: 0 -5px; }
      .product-quantity .add .row > div {
        padding: 0 5px; }
  .product-quantity .product-btn {
    overflow: hidden;
    text-align: center;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.42rem 1.615rem; }
    .product-quantity .product-btn span {
      font-size: 1.231rem;
      line-height: 1.846rem; }
  .product-quantity .addToWishlist {
    border: 2px solid #ebebeb;
    padding: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .product-quantity .addToWishlist i {
      font-size: 1.846rem; }
  .product-quantity .add-to-cart .text {
    font-size: 1.231rem;
    font-weight: 500; }
  .product-quantity .add-to-cart .icon-basket {
    margin-right: 0.3846rem;
    position: relative;
    top: 0.3077rem; }
  .product-quantity input#quantity_wanted {
    max-width: 3.333rem;
    text-align: center;
    padding: 0 0.6rem;
    font-size: 1.538rem;
    font-weight: 700;
    height: 2.692rem;
    color: #111;
    border: 0;
    background-color: #ebebeb; }
  .product-quantity .qty .input-group {
    height: 100%;
    padding-left: 2.077rem; }

.product-variants-item .input-color {
  position: absolute;
  cursor: pointer;
  height: 1.615rem;
  width: 1.615rem;
  margin: 0;
  opacity: 0;
  z-index: 99; }

.product-variants-item .color {
  display: block;
  position: relative;
  height: 1.615rem;
  width: 1.615rem;
  border-radius: 4px; }

.product-variants-item .color.texture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-size: cover; }

.product-variants-item input:checked + .color {
  margin: 0 0.2308rem; }
  .product-variants-item input:checked + .color::after {
    content: "";
    position: absolute;
    top: -0.2308rem;
    left: -0.2308rem;
    width: calc(100% + 0.4615rem);
    height: calc(100% + 0.4615rem);
    background-color: #14c2ee;
    border-radius: 4px;
    z-index: -1; }

.product-variants-item input:checked ~ .radio-label {
  border-color: #14c2ee; }

.product-variants-item ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0px; }
  .product-variants-item ul li {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 5px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.product-variants-item .radio-label {
  width: 2.667rem;
  height: 2.667rem;
  border: 2px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.product-variants-item .select-option {
  display: inline-block; }

.product-variants-item .control-label {
  padding-top: 3px;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 0.7692rem; }

.product-variants-item .attribute-name {
  font-size: 0px; }

.product-variants-item.color ul li {
  margin-right: 0.5385rem; }

.product-variants-item.size {
  margin-right: 5rem; }
  .product-variants-item.size ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .product-variants-item.size input {
    margin-top: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 2.667rem;
    height: 2.667rem;
    z-index: 2; }

.product-variants-item.taille ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.product-variants-item.taille input {
  margin-top: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 2.667rem;
  height: 2.667rem;
  z-index: 2; }

.product-add-to-cart .title {
  color: #000;
  letter-spacing: 0.1px;
  margin-right: 1.231rem; }

.product-add-to-cart .product-btn i {
  font-size: 1.385rem; }

.product-add-to-cart .bootstrap-touchspin .input-group-btn-vertical > .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: none;
  max-width: 100%;
  padding: 0;
  color: #777;
  border: 0;
  width: 2rem;
  height: 2.692rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  background: #ebebeb; }

.product-add-to-cart .bootstrap-touchspin .input-group-btn-vertical i {
  display: none; }

.product-add-to-cart .input-group-btn-vertical .bootstrap-touchspin-up {
  margin-left: 1px;
  border-radius: 0 4px 4px 0; }
  .product-add-to-cart .input-group-btn-vertical .bootstrap-touchspin-up::after {
    content: "+";
    font-size: 1.6rem;
    color: #666; }

.product-add-to-cart .input-group-btn-vertical .bootstrap-touchspin-down {
  border-radius: 4px 0 0 4px; }
  .product-add-to-cart .input-group-btn-vertical .bootstrap-touchspin-down::after {
    content: "-";
    font-size: 1.6rem;
    color: #666; }

.product-add-to-cart .addToWishlist {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  letter-spacing: 0; }
  .product-add-to-cart .addToWishlist i {
    font-size: 1.538rem;
    margin-right: 0.3846rem; }

.quantity-box #quantity_wanted_p {
  border: 1px solid #e1e1e1;
  float: left; }

.product-minimal-quantity {
  margin-bottom: 0; }

.cart-item .bootstrap-touchspin {
  margin: 0 auto;
  min-height: 3.077rem; }
  .cart-item .bootstrap-touchspin .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    display: block;
    width: auto; }
    .cart-item .bootstrap-touchspin .input-group-btn-vertical > .btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 0 5px;
      margin-left: -1px;
      position: relative;
      background-color: #fff;
      color: #777;
      border: solid 1px #e3e3e3;
      border-radius: 0; }

.bootstrap-touchspin .input-group-btn-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto; }

.input-group-btn-vertical .bootstrap-touchspin-down {
  position: absolute;
  left: 0; }

.product-price.h5.has-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-price.h5.has-discount .product-discount {
    margin-right: 0.7692rem; }

.product-line-info .product-link {
  color: #111;
  padding-bottom: 0.6667rem;
  display: block; }

.product-line-info .price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000; }

.product-line-actions .product-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000; }

.remove-from-cart i {
  font-size: 1.2rem !important; }

.rating {
  margin-top: 1.154rem;
  margin-bottom: 0.3077rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .rating .product-list-reviews {
    position: static;
    width: auto; }
  .rating .product-additional-info {
    margin-left: 1.615rem; }
    .rating .product-additional-info .block-social {
      display: none; }
  .rating .product-comments-additional-info {
    margin: 0; }

#block-reassurance {
  width: 100%;
  clear: both;
  margin-top: 2rem;
  display: block; }
  #block-reassurance .block-reassurance-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
    #block-reassurance .block-reassurance-item span.h6 {
      width: calc(100% - 2.692rem);
      padding: 0 10px;
      margin: 0;
      font-weight: 400;
      line-height: 1.85; }
    #block-reassurance .block-reassurance-item .reassurance-img {
      width: 2.692rem; }
  #block-reassurance ul {
    padding: 0px; }
    #block-reassurance ul li {
      margin-bottom: 1.154rem;
      list-style: none; }
      #block-reassurance ul li:last-child {
        margin-bottom: 0; }

.block-social {
  width: 100%;
  display: block; }
  .block-social ul {
    margin: 0;
    padding: 0px; }
    .block-social ul li {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      display: inline-block;
      margin-right: 10px;
      text-align: center; }
      .block-social ul li i {
        font-size: 1.077rem; }
      .block-social ul li a {
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 50%;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
  .block-social .social-title {
    margin-right: 0.6667rem; }

.product-actions .product-add-to-cart {
  margin-top: 0.7692rem;
  margin-bottom: 1.462rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 2rem; }

.product-actions .product-variants select {
  border: 0;
  cursor: pointer;
  display: block;
  min-width: 6.385rem;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("../img/icons/down.png");
  font-size: 1.308rem;
  font-weight: 700;
  color: #111; }

.other-info {
  display: none;
  padding: 1.333rem 0 2.667rem;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 1.667rem;
  text-transform: uppercase; }
  .other-info > li {
    padding: 0.3333rem 0; }
    .other-info > li label {
      font-size: 0.8667rem;
      margin-bottom: 0;
      position: relative; }
    .other-info > li span {
      font-size: 0.8667rem;
      margin-bottom: 0;
      position: relative;
      padding-left: 0; }

.add .text_cart_p {
  padding-left: 0.5385rem;
  vertical-align: middle; }

.text_cart_p {
  color: #ffffff;
  font-size: 1.385rem;
  letter-spacing: 0;
  line-height: 2.308rem;
  text-transform: capitalize; }

#more_info_block {
  margin-top: 4.462rem;
  margin-bottom: 1.5rem;
  width: 100%; }
  #more_info_block li {
    float: none;
    display: inline-block;
    margin: 0 3px; }
  #more_info_block .same-category {
    display: none; }
  #more_info_block .panel-heading a {
    font-size: 1.538rem;
    position: relative;
    display: inline-block;
    color: #000;
    letter-spacing: -0.3px;
    padding: 1.231rem 0;
    padding-right: 1.615rem;
    font-family: "Work Sans", sans-serif; }
    #more_info_block .panel-heading a::after {
      content: "\e874";
      font-family: 'Linearicons-Free';
      font-size: 0.8462rem;
      font-weight: 400;
      margin-left: 0.3077rem;
      position: absolute;
      top: 1.846rem;
      right: 0; }
  #more_info_block .panel-heading a.collapsed::after {
    content: "\e876"; }
  #more_info_block .panel.panel-default:not(:last-child) {
    border-bottom: 1px solid #e5e5e5; }
  #more_info_block .panel-title {
    margin-bottom: 0; }
  #more_info_block .nav.nav-tabs {
    text-align: left;
    display: inline-block;
    width: 100%;
    border-bottom: 0; }
  #more_info_block li a {
    padding: 0 2.6rem;
    color: #000;
    position: relative;
    letter-spacing: 0.7px;
    border: 1px solid #ccc;
    line-height: 2.8rem;
    border-radius: 0;
    text-transform: uppercase; }
  #more_info_block li a.active {
    color: #fff;
    background: #14c2ee;
    border-color: #14c2ee; }
  #more_info_block .label {
    padding: 0;
    color: #555;
    font-weight: 400; }
  #more_info_block .tab-content {
    padding-top: 2.8rem; }

#more_info_block.tab-center .nav.nav-tabs {
  text-align: center; }

#more_info_block.tab-right .nav-item {
  margin-right: 0;
  margin-left: 6px;
  margin-bottom: 0.7692rem; }

#more_info_block.tab-right .nav.nav-tabs {
  text-align: right; }

#more_info_block.tab-left .nav-tabs .nav-item {
  margin-left: 0;
  margin-right: 6px;
  margin-bottom: 0.7692rem;
  text-align: center;
  display: inline-block; }

.product-information {
  border-top: 1px solid #ebebeb;
  margin-top: 1.615rem;
  padding-top: 2.077rem; }
  .product-information .product-desc p {
    margin-bottom: 1.692rem; }
  .product-information .product-actions {
    margin-top: 1.615rem; }

.product-desc {
  letter-spacing: 0; }
  .product-desc ul::after {
    content: "";
    display: table;
    clear: both; }
  .product-desc li {
    position: relative;
    padding-left: 0.7692rem;
    line-height: 2.077rem; }
    .product-desc li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block;
      width: 0.3846rem;
      height: 0.3846rem;
      background-color: #14c2ee;
      border-radius: 50%; }

.product-description p {
  position: relative;
  letter-spacing: 0; }

.product-description ul {
  position: relative;
  letter-spacing: 0; }
  .product-description ul li {
    padding-left: 1.231rem;
    position: relative; }
    .product-description ul li::before {
      display: inline-block;
      content: '';
      margin-bottom: 0.1538rem;
      margin-right: 0.7692rem;
      margin-left: -1.231rem;
      border-radius: 50%;
      width: 0.3077rem;
      height: 0.3077rem;
      background-color: #141414; }

.product-features {
  padding-top: 1.154rem; }
  .product-features > dl.data-sheet {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .product-features > dl.data-sheet dd.value {
      box-flex: 1;
      -moz-flex: 1 0 40%;
      -ms-flex: 1 0 40%;
      -webkit-box-flex: 1;
      flex: 1 0 40%;
      font-weight: 400;
      padding-bottom: .5rem;
      word-break: break-word;
      border-bottom: 1px solid rgba(161, 161, 161, 0.25);
      margin-bottom: .5rem; }
    .product-features > dl.data-sheet dt.name {
      box-flex: 1;
      -moz-flex: 1 0 40%;
      -ms-flex: 1 0 40%;
      -webkit-box-flex: 1;
      flex: 1 0 40%;
      font-weight: 400;
      padding-bottom: .5rem;
      word-break: break-word;
      border-bottom: 1px solid rgba(161, 161, 161, 0.25);
      margin-bottom: .5rem;
      font-weight: 700; }

.same-category {
  margin-top: 4.462rem; }
  .same-category .addon-title h3 {
    text-transform: capitalize; }

.product-accessories {
  margin-top: 4.462rem; }
  .product-accessories .addon-title h3 {
    text-transform: capitalize; }

#product-modal {
  z-index: 9999; }
  #product-modal .product-images .thumb-container > .thumb {
    border-color: transparent; }
  #product-modal .owl-theme .owl-stage-outer {
    margin: 0;
    padding: 0; }
  #product-modal .owl-theme .owl-controls {
    position: static; }
    #product-modal .owl-theme .owl-controls .owl-prev {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: .4s all;
      -o-transition: .4s all;
      transition: .4s all; }
    #product-modal .owl-theme .owl-controls .owl-next {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: .4s all;
      -o-transition: .4s all;
      transition: .4s all; }
  #product-modal .modal-dialog:hover .owl-theme .owl-controls .owl-prev, #product-modal .modal-dialog:hover .owl-theme .owl-controls .owl-next {
    opacity: 1; }
  #product-modal.modal .modal-dialog {
    max-width: 46.15rem;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all; }
  #product-modal.modal.show .modal-dialog {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.thumbnails.js-thumbnails {
  height: 100%;
  left: calc(100% + 0.7692rem);
  position: absolute;
  top: 0;
  padding: 3.077rem 0;
  width: 7.769rem; }
  .thumbnails.js-thumbnails .js-modal-mask {
    height: 100%;
    overflow: hidden; }

#js-active-search-filters .active-filter-title {
  font-size: 1rem;
  margin: 0 1.154rem 0 0;
  padding: 0; }

#js-active-search-filters > ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0; }
  #js-active-search-filters > ul li {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    line-height: 2.462rem;
    margin-right: 1.538rem;
    padding: 0 0.7692rem;
    vertical-align: middle; }

.active_filters {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f3f4f7 none repeat scroll 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.846rem;
  padding: 1.154rem; }
  .active_filters h3 {
    font-size: 1rem;
    padding-bottom: 0;
    padding-right: 1.154rem; }

.filter-block .js-search-link i {
  font-size: 1.154rem;
  line-height: 2.538rem;
  margin-left: 0.3846rem; }

.images-container.grid .product-images > li.thumb-container {
  width: calc((100% - 1.538rem)/2);
  margin-bottom: 1.538rem;
  display: inline-block;
  list-style-type: none; }
  .images-container.grid .product-images > li.thumb-container:nth-child(odd) {
    margin-right: 1.538rem; }
  .images-container.grid .product-images > li.thumb-container .thumb.selected {
    border: 1px solid #14c2ee; }

.images-container.grid .js-qv-mask {
  margin-right: 0;
  width: 100%;
  max-height: unset; }

#onsale .product-flags .product-flag.on-sale {
  display: none; }

#onsale .product-flags .on-sale ~ .discount {
  display: block; }

.product-flags {
  margin-bottom: 0; }
  .product-flags .product-flag {
    position: absolute;
    top: 0.6154rem !important;
    font-weight: 600;
    padding: 0.2308rem 0.3846rem;
    line-height: 1.2;
    z-index: 1; }
    .product-flags .product-flag.on-sale::before, .product-flags .product-flag.discount::before {
      border-top: 1.692rem solid #f63622; }
  .product-flags .product-flag.new {
    right: 0.6154rem;
    background: #14c2ee;
    color: #fff; }
    .product-flags .product-flag.new::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 0.4615rem solid transparent;
      border-bottom: 1.692rem solid #14c2ee;
      top: 0;
      left: -0.42rem; }
  .product-flags .product-flag.on-sale::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 0.4615rem solid transparent;
    top: 0;
    right: -0.42rem; }
  .product-flags .product-flag.discount::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 0.4615rem solid transparent;
    top: 0;
    right: -0.42rem; }
  .product-flags .on-sale {
    background: #f63622;
    color: #fff;
    left: 0.6154rem; }
    .product-flags .on-sale ~ .discount {
      display: none; }
  .product-flags .discount {
    background: #f63622;
    color: #fff;
    left: 0.6154rem; }
    .product-flags .discount span:first-child {
      font-size: 1.154rem;
      font-weight: 400; }
    .product-flags .discount span:last-child {
      font-size: 1.154rem;
      font-weight: 700;
      position: relative;
      bottom: 0.1538rem; }
  .product-flags .online-only {
    background: #000;
    color: #fff; }
  .product-flags .pack {
    background: #000;
    color: #fff;
    right: 0.6154rem; }

.pack-product-container .table td {
  border-top: none; }
  .pack-product-container .table td img {
    margin-right: 0.7692rem; }

.js-modal-product-cover.product-cover-modal {
  width: 100%; }

#thumbnails ul li {
  margin-bottom: 0.8462rem; }

.modal-dialog .close {
  margin: 0;
  padding: 0;
  right: 1.077rem;
  top: 0.8462rem; }

.sidebar-column {
  will-change: min-height; }

.sidebar-inner {
  left: auto !important;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform; }

#_mobile_search_filters_clear_all {
  display: block;
  margin-bottom: 10px; }

@media (max-width: 991px) {
  .sidebar-column {
    position: relative !important;
    height: auto !important; }
  .sidebar-inner {
    position: static !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    width: 100% !important;
    will-change: inherit; } }
