.js-product-miniature .category-title {
  text-align: center; }
  .js-product-miniature .category-title h3 {
    font-size: 2.769rem;
    color: #17171f;
    letter-spacing: 1.5px; }

.js-product-miniature .preview img {
  width: 100%; }

.js-product-miniature .content_price {
  font-size: 1.231rem;
  font-weight: 800;
  font-style: normal;
  color: #000;
  margin-top: 0;
  letter-spacing: 0;
  line-height: 1; }

.js-product-miniature .product-info {
  padding: 1.538rem 1.231rem 1.308rem;
  position: relative;
  background-color: #fff;
  z-index: 2; }

.js-product-miniature .product-title {
  margin-bottom: 0.6154rem;
  margin-top: 0.1538rem; }
  .js-product-miniature .product-title a {
    font-size: 1rem;
    text-transform: initial;
    letter-spacing: 0;
    display: block;
    line-height: 1.7; }

.js-product-miniature .product-short-desc {
  display: none; }

.js-product-miniature .category-name {
  font-size: 90%;
  margin-bottom: 0.3846rem;
  text-transform: capitalize; }

.js-product-miniature .product-preview {
  position: relative; }
  .js-product-miniature .product-preview img {
    width: 100%;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  .js-product-miniature .product-preview .product-image {
    position: relative;
    display: block;
    overflow: hidden; }

.js-product-miniature .product-btn.disabled {
  cursor: not-allowed; }

.block-categories ul {
  padding: 0px;
  list-style: none;
  margin-bottom: 10px; }
  .block-categories ul li {
    line-height: 2.154rem;
    position: relative; }
    .block-categories ul li .navbar-toggler {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      cursor: pointer;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0.3077rem;
      font-size: 0.9231rem;
      z-index: 99; }
      .block-categories ul li .navbar-toggler .lnr {
        font-size: 0.7692rem; }
      .block-categories ul li .navbar-toggler .lnr-chevron-right {
        display: none; }
    .block-categories ul li .navbar-toggler.collapsed .lnr-chevron-right {
      display: block; }
    .block-categories ul li .navbar-toggler.collapsed .lnr-chevron-down {
      display: none; }

.block-categories .sub-list {
  padding-left: 1.154rem; }

.block-categories .title-block h3.collapsed i {
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset; }

#search_filters .filter-box {
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #e5e5e5; }

#search_filters .facet {
  margin-right: 0px;
  margin-bottom: 2.692rem; }
  #search_filters .facet .facet-title.collapsed > i {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset; }
  #search_filters .facet .title {
    position: relative; }
    #search_filters .facet .title .navbar-toggler .closing {
      display: none; }
  #search_filters .facet .navbar-toggler {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none; }
  #search_filters .facet .title.collapsed .navbar-toggler .opening {
    display: none; }
  #search_filters .facet .title.collapsed .navbar-toggler .closing {
    display: block; }
  #search_filters .facet li {
    position: relative;
    line-height: 2.154rem; }

#search_filters .facet.Price p {
  color: #444; }

#search_filters .facet.color .flex-box {
  margin-bottom: 0.5385rem; }

#search_filters .facet.color .facet-title.collapsed + .flex-box {
  margin-bottom: 0; }

#search_filters .facet.color .custom-checkbox {
  margin-right: 0.7692rem;
  margin-bottom: 0.7692rem; }

#search_filters .btn-default.js-search-filters-clear-all i {
  font-size: 1.154rem;
  margin-left: -0.2308rem;
  margin-right: 0.3846rem; }

#search_filters .facet-title {
  font-size: 1.538rem;
  color: #000;
  letter-spacing: 0;
  cursor: pointer;
  margin-bottom: 1.077rem;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Work Sans", sans-serif; }

#search_filters .facet.size ul li {
  float: left;
  width: 50%; }

#search_filters .custom-checkbox {
  margin-right: 0.4615rem;
  display: inline-block;
  width: 0.8462rem;
  height: 0.8462rem;
  position: relative;
  top: 0.6923rem; }
  #search_filters .custom-checkbox > input {
    opacity: 0;
    position: absolute;
    top: 0; }

#search_filters .facet.Color {
  margin-bottom: 2.538rem; }

.title-block h3 {
  font-size: 1.538rem;
  color: #000;
  letter-spacing: 0;
  cursor: pointer;
  margin-bottom: 1.077rem;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Work Sans", sans-serif; }

#_desktop_search_filters_clear_all {
  margin-bottom: 3.231rem; }

.facet.filter-by {
  margin-top: 3.077rem; }

.filters-panel .view-mode > a > span {
  font-size: 1.385rem; }

.filters-panel .view-mode > a > span.fa-list-ul {
  font-size: 1.462rem; }

.filters-panel .text {
  color: #111;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 0.7692rem; }

.filters-panel .right {
  text-align: right; }

.filters-panel .product-sort .dropdown-menu {
  border-radius: 0; }

.filter-bottom {
  border-top: 1px solid #e1e1e1;
  clear: both;
  float: left;
  padding-top: 0.7692rem;
  width: 100%; }
  .filter-bottom ul.pagination {
    margin: 0; }

.filters-panel.bottom {
  border-bottom: medium none;
  border-top: 1px solid #e1e1e1;
  padding-top: 1.538rem;
  float: left;
  width: 100%; }

.facet ul {
  padding: 0px;
  margin-bottom: 0; }
  .facet ul li {
    list-style: none; }

#category #left-column + #content-wrapper, #category #content-wrapper + #right-column {
  margin-top: 0; }

#category .breadcrumb ul {
  padding: 5.462rem 0; }

#category .breadcrumb .title-meta {
  display: block; }

#category #content-wrapper {
  overflow: visible; }

#category .facet-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.8462rem;
  width: 0.8462rem;
  border: 1px solid #a1a1a1;
  border-radius: 2px; }
  #category .facet-label .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  #category .facet-label .checkmark::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-size: 8px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%; }

#category .facet-label input:checked ~ .checkmark {
  border-color: #141414; }
  #category .facet-label input:checked ~ .checkmark:after {
    display: block; }

#category #footer {
  margin-top: 6.154rem; }

#category .block-categories {
  display: none;
  margin-bottom: 2.692rem; }

#category .facet .facet-label {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #category .facet .facet-label .search-link {
    width: auto;
    position: relative; }
    #category .facet .facet-label .search-link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      left: 0;
      bottom: 0.4615rem;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      transition: all 400ms;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -ms-transition: all 400ms;
      -o-transition: all 400ms; }
    #category .facet .facet-label .search-link:hover::before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }

#category .facet .facet-label.active .search-link {
  color: #000; }
  #category .facet .facet-label.active .search-link::before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

#category .facet > .flex-box {
  width: 100%; }
  #category .facet > .flex-box ul {
    width: 100%; }
    #category .facet > .flex-box ul::after {
      content: "";
      display: table;
      clear: both; }

#category .facet .color-style .facet-label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#category .facet.size ul li {
  border-bottom: 0; }

#category .facet.Color ul li .custom-checkbox input {
  display: block; }
  #category .facet.Color ul li .custom-checkbox input:checked ~ span {
    background-color: transparent !important; }
  #category .facet.Color ul li .custom-checkbox input:checked ~ .color::after {
    content: "\f17b";
    font-family: LineAwesome;
    font-size: 0.7692rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%; }

#category .facet.Color ul li .custom-checkbox .checkmark {
  display: block; }

#category .facet.Color ul li .custom-checkbox .color {
  border-radius: 50%;
  height: 0.9231rem;
  width: 0.9231rem;
  cursor: pointer;
  position: relative;
  display: none; }

#category .color-style .custom-checkbox .magnitude {
  margin-left: 0.3846rem;
  font-size: 1.077rem; }

.facet.color ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0; }
  .facet.color ul li a {
    display: none; }

#js-product-list-header .category-cover {
  margin-bottom: 1.154rem; }

#products-top {
  margin-bottom: 4.923rem; }
  #products-top .pagination {
    padding: 0;
    border: 0;
    width: auto;
    display: inline-block; }
    #products-top .pagination .left-pagination {
      width: 100%;
      max-width: 100%;
      display: inline-block;
      font-size: 1rem;
      letter-spacing: 0.1px;
      color: #444; }
    #products-top .pagination .right-pagination {
      display: none; }

#js-product-list .pagination {
  margin-top: 1.385rem; }

#active-filter {
  margin-bottom: 2.308rem; }

#js-active-search-filters {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f3f4f7 none repeat scroll 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2.308rem;
  margin-top: 0;
  padding: 1.154rem 1.154rem 0.3846rem; }
  #js-active-search-filters .active-filter-title {
    margin: 0 1.154rem 0.7692rem 0;
    padding: 0; }
  #js-active-search-filters > ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0; }
    #js-active-search-filters > ul li {
      background: #fff none repeat scroll 0 0;
      display: inline-block;
      line-height: 32px;
      margin-right: 20px;
      padding: 0 10px;
      vertical-align: middle;
      margin-bottom: 10px; }

#js-active-search-filters.hide {
  display: none; }

.filter-block .js-search-link i {
  font-size: 15px;
  line-height: 33px;
  margin-left: 5px; }

.view-mode i {
  font-size: 39px;
  opacity: 0.7; }

.view-mode .active i {
  opacity: 1; }

.inlude_sort_by {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#search_filter_controls {
  margin-bottom: 20px;
  text-align: center; }

.products-sort-order {
  border: 2px solid #ebebeb; }
  .products-sort-order .select-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url("../img/icons/down-2.png") no-repeat right;
    font-size: 1rem;
    padding: 0.5385rem 1.923rem 0.5385rem 1.308rem;
    cursor: pointer;
    margin-right: 1rem; }
    .products-sort-order .select-title span {
      cursor: pointer;
      display: block;
      line-height: 2.067rem;
      overflow: hidden;
      white-space: nowrap;
      color: #444; }
  .products-sort-order .dropdown-menu {
    left: auto;
    min-width: 180px;
    padding: 1.154rem 1.308rem;
    position: absolute;
    left: -5px !important;
    background: #fff;
    top: calc(100% + 10px); }
    .products-sort-order .dropdown-menu a {
      display: block;
      line-height: 2rem;
      color: #555;
      padding: 0 5px; }
      .products-sort-order .dropdown-menu a:hover {
        background: #f2f2f2; }
    .products-sort-order .dropdown-menu a.current {
      background: #f2f2f2; }

.products.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0; }

.products-grid .js-product-miniature {
  float: left;
  margin-left: 0;
  padding: 0;
  margin-bottom: 2.923rem;
  width: 50%; }

.grid-5 .productbox-3 .product-buttons a {
  min-width: 90%;
  max-width: 90%; }

.grid-5 .productbox-3 .product-preview .addToWishlist {
  width: 35px;
  height: 35px; }
  .grid-5 .productbox-3 .product-preview .addToWishlist i {
    font-size: 16px; }

.grid-6 .productbox-3 .product-buttons a {
  min-width: 90%;
  max-width: 90%; }

.grid-6 .productbox-3 .product-preview .addToWishlist {
  width: 35px;
  height: 35px; }
  .grid-6 .productbox-3 .product-preview .addToWishlist i {
    font-size: 16px; }

.products-grid.grid-2 .js-product-miniature:nth-child(2n) {
  margin-right: 0 !important; }

.products-grid.grid-3 .js-product-miniature:nth-child(3n) {
  margin-right: 0 !important; }

.products-grid.grid-4 .js-product-miniature:nth-child(4n) {
  margin-right: 0 !important; }

.products-grid.grid-5 .js-product-miniature:nth-child(5n) {
  margin-right: 0 !important; }

.products-grid.grid-6 .js-product-miniature:nth-child(6n) {
  margin-right: 0 !important; }

.pagination {
  margin: 0;
  padding-top: 2.308rem;
  padding-right: 0px;
  border-top: 1px solid #ebebeb;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .pagination .left-pagination {
    display: none; }
  .pagination ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0; }
  .pagination li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: none;
    margin: 0 3.5px; }
    .pagination li a.next {
      background: url("../img/icons/next-2.png") center no-repeat; }
      .pagination li a.next i {
        display: none; }
    .pagination li a.previous {
      background: url("../img/icons/prev-2.png") center no-repeat; }
      .pagination li a.previous i {
        display: none; }
  .pagination li.current a {
    color: #fff;
    background-color: #14c2ee;
    border-radius: 5px; }
  .pagination .js-search-link {
    font-size: 1.538rem;
    color: #010101;
    font-weight: 800;
    width: 2.923rem;
    height: 2.923rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.product-title a {
  font-weight: 400;
  font-style: normal; }

.productbox-2 .product-preview {
  overflow: hidden; }
  .productbox-2 .product-preview .product-buttons li {
    padding: 0;
    text-align: center;
    width: 22%;
    position: relative; }
    .productbox-2 .product-preview .product-buttons li:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 1px;
      width: 1px;
      height: 2.133rem;
      background: #ccc; }

.productbox-2 .product-info {
  position: relative;
  margin-top: 1.333rem; }
  .productbox-2 .product-info .product-buttons {
    display: none; }

.productbox-2 .product-action {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.productbox-2 .variant-links {
  margin: 0;
  margin-bottom: 0.8rem;
  display: inline-block;
  line-height: 1; }

.productbox-2 .text-addcart {
  font-weight: 700;
  font-size: 0.8125em;
  text-transform: uppercase;
  display: inline-block; }

.productbox-2 .text-outofstock {
  font-weight: 700;
  font-size: 0.8125em;
  text-transform: uppercase;
  display: inline-block; }

.productbox-2 .product-cart .ptw-icon {
  font-size: 1.333rem;
  margin-right: 0.3333rem; }

.productbox-2 .product-buttons {
  padding: 1.267rem 0;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  margin: 0px;
  position: absolute;
  bottom: -3.333rem;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fbfbfb;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms; }
  .productbox-2 .product-buttons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
    width: 100%; }
  .productbox-2 .product-buttons i {
    font-size: 1.467rem;
    color: #000;
    font-weight: 400; }
    .productbox-2 .product-buttons i:hover {
      color: #14c2ee; }
  .productbox-2 .product-buttons i.fa-external-link-alt {
    font-size: 1.333rem; }

.productbox-2:hover .product-buttons {
  opacity: 1;
  visibility: visible;
  bottom: 0; }

.productbox-2.js-product-miniature .product-preview .product-image::before {
  display: none; }

.productbox-2.js-product-miniature .content_price {
  margin-top: 0; }

.productbox-2.js-product-miniature .addToWishlist {
  position: static;
  width: auto;
  height: auto; }

.grid-3 .productbox-3 .product-preview .addToWishlist {
  width: 35px;
  height: 35px; }
  .grid-3 .productbox-3 .product-preview .addToWishlist i {
    font-size: 16px; }

.grid-4 .productbox-3 .product-preview .addToWishlist {
  width: 35px;
  height: 35px; }
  .grid-4 .productbox-3 .product-preview .addToWishlist i {
    font-size: 16px; }

.same-category .owl-theme .owl-controls {
  display: none; }

.same-category .productbox-3 .product-preview .addToWishlist {
  width: 35px;
  height: 35px; }
  .same-category .productbox-3 .product-preview .addToWishlist i {
    font-size: 16px; }

.productbox-3 .addToWishlist {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  width: 3.333rem;
  height: 3.333rem;
  padding-top: 2px;
  padding-left: 1px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10; }
  .productbox-3 .addToWishlist i {
    font-size: 1.467rem;
    color: #000;
    font-weight: 400; }

.productbox-3 .product-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 9;
  width: 90%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms; }
  .productbox-3 .product-buttons a {
    min-width: 10rem;
    margin: 5px;
    border-width: 1px;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 0.4667rem 1.4rem;
    opacity: 1;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden; }

.productbox-3:hover .product-buttons {
  opacity: 1; }

.productbox-3 .product-info .product-buttons {
  display: none; }

.productbox-4 .product-buttons {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  margin: 0px;
  position: absolute;
  bottom: 0.6667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  z-index: 9; }
  .productbox-4 .product-buttons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
    width: 100%; }
  .productbox-4 .product-buttons li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1px;
    width: 1px;
    height: 1.733rem;
    background: #ccc; }
  .productbox-4 .product-buttons i {
    font-size: 1.467rem;
    color: #000; }
    .productbox-4 .product-buttons i:hover {
      color: #14c2ee; }
  .productbox-4 .product-buttons i.fa-external-link-alt {
    font-size: 1.333rem; }

.productbox-4:hover .product-buttons {
  opacity: 1;
  visibility: visible; }

.productbox-4:hover .product-action .box-action {
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px); }

.productbox-4 .product-preview .product-buttons li {
  padding: 0.6667rem 0;
  background: #fbfbfb;
  text-align: center;
  width: 22%;
  position: relative; }

.productbox-4 .product-preview .product-image::before {
  background: rgba(0, 0, 0, 0.12); }

.productbox-4 .product-action {
  position: relative;
  overflow: hidden;
  height: 25px; }
  .productbox-4 .product-action .box-action {
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms; }
  .productbox-4 .product-action .product-cart > a {
    font-size: 1.067rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #14c2ee;
    position: relative;
    display: inline-block; }
  .productbox-4 .product-action .cart-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #14c2ee;
    opacity: 0;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms; }
  .productbox-4 .product-action .cart-button:hover::after {
    opacity: 1;
    width: 100%; }

.productbox-4 .content_price {
  margin-top: 0;
  min-height: 23.4px;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms; }

.productbox-4 .product-info .product-buttons {
  display: none; }

.products-list .productbox-4:hover .product-action .box-action {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.products-list .productbox-4:hover .content_price {
  opacity: 1;
  visibility: visible; }

.products-list .productbox-4 .product-action .product-cart {
  display: none; }

.products-list .productbox-4 .product-info .product-buttons .product-cart {
  position: static;
  opacity: 1;
  visibility: visible; }

.products-list .product-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .products-list .product-preview .product-image::before {
    display: none; }

.products-list .js-product-miniature {
  margin-bottom: 0px;
  width: 100%; }
  .products-list .js-product-miniature:not(:last-child) {
    border-bottom: 1px solid #ebebeb; }
  .products-list .js-product-miniature .product-preview .product-buttons {
    display: none; }
  .products-list .js-product-miniature .product-preview .variant-links {
    display: none; }
  .products-list .js-product-miniature .product-preview .addToWishlist {
    display: none; }
  .products-list .js-product-miniature .product-info .variant-links {
    display: block;
    opacity: 1;
    visibility: visible;
    position: static;
    margin-bottom: 11px;
    margin-top: 3px; }
  .products-list .js-product-miniature .product-info .product-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    opacity: 1;
    visibility: visible;
    background: transparent;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 29px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0; }
    .products-list .js-product-miniature .product-info .product-buttons::before {
      display: none; }
  .products-list .js-product-miniature:hover .product-buttons li:not(:first-child) {
    opacity: 1;
    visibility: visible; }

.products-list #js-product-list .pagination {
  margin-top: 0; }

.products-list .productbox-3 .product-info .product-buttons a {
  min-width: auto;
  position: static;
  font-size: 22px;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  display: inline; }

.products-list .productbox-3 .product-info .product-buttons a.quick-view {
  margin-left: 5px; }

.products-list .product-buttons li {
  padding: 0;
  margin-right: 20px;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms; }
  .products-list .product-buttons li::after {
    display: none; }
  .products-list .product-buttons li:not(:first-child) {
    opacity: 0;
    visibility: hidden; }
  .products-list .product-buttons li .fal {
    color: #000;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms; }
    .products-list .product-buttons li .fal:hover {
      color: #14c2ee; }
  .products-list .product-buttons li .fa-external-link-square-alt {
    position: relative;
    top: 1px; }

.products-list .product-title {
  text-align: left; }

.products-list .product-action {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.products-list .product-info {
  border-top: 0 none;
  text-align: left;
  margin-top: 0;
  padding: 35px 11px; }

.products-list .variant-links {
  margin-top: 0; }

.products-list .product-short-desc {
  display: block;
  letter-spacing: 0;
  margin-top: 33px;
  padding-top: 0; }

.productbox-4 .product-buttons i {
  font-weight: 400; }

.productbox-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  .productbox-5 .product-preview {
    max-width: 86px;
    min-width: 86px;
    margin-right: 15px; }
    .productbox-5 .product-preview .product-image::before {
      display: none !important; }
  .productbox-5 .variant-links {
    margin-top: 0;
    margin-bottom: 7px; }
  .productbox-5 .product-info {
    margin-top: 2px; }
  .productbox-5 .product-title {
    margin-bottom: 7px;
    line-height: 1.45; }
  .productbox-5 .content_price {
    margin-top: 0; }

.item .js-product-miniature {
  margin-bottom: 0; }

.variant-links {
  margin-top: 0.3846rem;
  margin-bottom: 0.3846rem; }
  .variant-links a {
    position: relative;
    display: inline-block !important;
    width: 1.077rem;
    height: 1.077rem;
    border-radius: 50%;
    margin: 0px 0.2308rem 0px 0px;
    z-index: 20; }
    .variant-links a::after {
      content: "";
      width: calc(100% + 0.4615rem);
      height: calc(100% + 0.4615rem);
      position: absolute;
      top: 50%;
      left: 50%;
      border: 0 solid transparent;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all 400ms;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -ms-transition: all 400ms;
      -o-transition: all 400ms;
      z-index: 9; }
    .variant-links a:first-child {
      margin-left: 0.2308rem; }
      .variant-links a:first-child::after {
        border: 1px solid #bababa; }
    .variant-links a:hover::after {
      border: 1px solid #bababa; }

.swap-image .product-img2 {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0; }

.product-preview:hover .swap-image .product-img2 {
  left: 0;
  opacity: 1;
  top: 0; }

.customs-html-left {
  display: none;
  margin-top: 3.154rem;
  margin-bottom: 3.385rem;
  overflow: hidden;
  max-width: 310px; }
  .customs-html-left:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .customs-html-left img {
    -webkit-transition: .8s all;
    -o-transition: .8s all;
    transition: .8s all; }

.topseller-block .product-buttons {
  display: none; }

.topseller-block .productbox-flex .product-info {
  padding-bottom: 0.3846rem; }

#content-wrapper.col-lg-12 #products-top .filter-button {
  display: none; }

#content-wrapper.col-lg-12 #products-top .col-left {
  text-align: center; }

#content-wrapper.col-lg-12 #products-top .col-right {
  margin-top: 20px; }

.products-grid.grid-1-2-1-2 .js-product-miniature {
  width: 100% !important;
  margin-right: 0;
  padding: 0 !important; }

.products-grid.grid-2-1-2-1 .js-product-miniature {
  width: 100% !important;
  margin-right: 0;
  padding: 0 !important; }

.products-grid.grid-1-3-1-3 .js-product-miniature {
  width: 100% !important;
  margin-right: 0;
  padding: 0 !important; }

.products-grid.grid-3-1-3-1 .js-product-miniature {
  width: 100% !important;
  margin-right: 0;
  padding: 0 !important; }

@media (min-width: 576px) {
  .products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+3) {
    margin-right: 0 !important;
    width: 50% !important; }
  .products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+2) {
    width: 50% !important; }
  .products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+1) {
    width: 100%;
    margin: 0 25% 30px; }
  .products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+1) {
    width: 100%;
    margin: 0px 25% 30px; }
  .products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+2) {
    width: calc((100% - 0px)/3) !important; }
  .products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+3) {
    width: calc((100% - 0px)/3) !important; }
  .products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+4) {
    width: calc((100% - 0px)/3) !important;
    margin-right: 0 !important; }
  .products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+3) {
    width: 100%;
    margin: 0px 25% 30px; }
  .products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+2) {
    margin-right: 0 !important;
    width: 50% !important; }
  .products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+1) {
    width: 50% !important;
    width: 50% !important; }
  .products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+4) {
    width: 100%;
    margin: 0px 25% 30px; }
  .products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+1) {
    width: calc((100% - 0px)/3) !important; }
  .products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+2) {
    width: calc((100% - 0px)/3) !important; }
  .products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+3) {
    width: calc((100% - 0px)/3) !important;
    margin-right: 0 !important; } }

@media (min-width: 768px) {
  #category .block-categories,
  .customs-html-left {
    display: block; }
  .same-category .owl-theme .owl-controls {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .products-grid .js-product-miniature {
    width: calc((100%)/3); }
    .products-grid .js-product-miniature:nth-child(3n) {
      margin-right: 0; } }

@media (min-width: 992px) {
  #content-wrapper.col-lg-12 #products-top .col-left {
    text-align: left; }
  #content-wrapper.col-lg-12 #products-top .col-right {
    margin-top: 0; } }

@media (min-width: 1200px) {
  .products-grid.grid-1 .js-product-miniature {
    width: 100%; }
  .products-grid.grid-2 .js-product-miniature {
    width: 50%; }
  .products-grid.grid-3 .js-product-miniature {
    width: calc((100%)/3); }
  .products-grid.grid-4 .js-product-miniature {
    width: 25%; }
  .products-grid.grid-5 .js-product-miniature {
    width: 20%; }
  .products-grid.grid-6 .js-product-miniature {
    width: calc((100% )/6); } }
