* {
  direction: rtl !important; }

#page {
  text-align: right !important; }

.col-xl-1 {
  float: right; }

.col-xl-10 {
  float: right; }

.col-xl-11 {
  float: right; }

.col-xl-12 {
  float: right; }

.col-xl-2 {
  float: right; }

.col-xl-3 {
  float: right; }

.col-xl-4 {
  float: right; }

.col-xl-5 {
  float: right; }

.col-xl-6 {
  float: right; }

.col-xl-7 {
  float: right; }

.col-xl-8 {
  float: right; }

.col-lg-9 {
  float: right;
  float: right; }

.col-lg-1 {
  float: right; }

.col-lg-10 {
  float: right; }

.col-lg-11 {
  float: right; }

.col-lg-12 {
  float: right; }

.col-lg-2 {
  float: right; }

.col-lg-3 {
  float: right; }

.col-lg-4 {
  float: right; }

.col-lg-5 {
  float: right; }

.col-lg-6 {
  float: right; }

.col-lg-7 {
  float: right; }

.col-lg-8 {
  float: right; }

.col-md-1 {
  float: right; }

.col-md-10 {
  float: right; }

.col-md-11 {
  float: right; }

.col-md-12 {
  float: right; }

.col-md-2 {
  float: right; }

.col-md-3 {
  float: right; }

.col-md-4 {
  float: right; }

.col-md-5 {
  float: right; }

.col-md-6 {
  float: right; }

.col-md-7 {
  float: right; }

.col-md-8 {
  float: right; }

.col-md-9 {
  float: right; }

.col-sm-1 {
  float: right; }

.col-sm-10 {
  float: right; }

.col-sm-11 {
  float: right; }

.col-sm-12 {
  float: right; }

.col-sm-2 {
  float: right; }

.col-sm-3 {
  float: right; }

.col-sm-4 {
  float: right; }

.col-sm-5 {
  float: right; }

.col-sm-6 {
  float: right; }

.col-sm-7 {
  float: right; }

.col-sm-8 {
  float: right; }

.col-sm-9 {
  float: right; }

.col-1 {
  float: right; }

.col-10 {
  float: right; }

.col-11 {
  float: right; }

.col-12 {
  float: right; }

.col-2 {
  float: right; }

.col-3 {
  float: right; }

.col-4 {
  float: right; }

.col-5 {
  float: right; }

.col-6 {
  float: right; }

.col-7 {
  float: right; }

.col-8 {
  float: right; }

.col-9 {
  float: right; }

table td {
  text-align: right; }

table th {
  text-align: right; }

.pull-left {
  float: right !important; }

.pull-right {
  float: left !important; }

.text-left {
  text-align: right !important; }

.text-right {
  text-align: left !important; }

body {
  overflow-x: hidden; }

.addon-title h3{
  text-align: right;
}
.list-inline-item:not(:last-child) {
  margin-left: .5rem;
  margin-right: 0;
}
.owl-theme .owl-controls{
  left: 0;
  right: auto;
  flex-direction: row-reverse;
}
.addon-tab-title{
  padding-left: 30px;
  padding-right: 0;
}
.addon-tab .nav-tabs .nav-item:not(:first-child), .addon-producttab .nav-tabs .nav-item:not(:first-child) {
  margin-right: 30px;
  margin-left: 0;
}
.addon-tab .nav-tabs .nav-item:not(:first-child)::before, .addon-producttab .nav-tabs .nav-item:not(:first-child)::before {
  left: auto;
  right: -15px;
}
.addon-tab-title h3{
  text-align: right;
}
.addon-title.title-blog h3 {
  padding-left: 1.231rem;
  padding-right: 0;
}
.tabs-navigation {
  padding-left: 0;
  padding-right: 20px;
}
#back-to-top{
  left: -3.077rem;
  right: auto;
}
#back-to-top.show {
  left: 0px;
  right: auto;
}
.product-list-reviews {
  left: auto;
  right: 16px;
}
.star-content{
  flex-direction: row-reverse;
}
.product-list-reviews .comments-nb{
  margin-right: 4px;
  margin-left: 0;
}
.product-miniature ul.product-buttons li:not(:last-child) {
  margin-left: 1.154rem;
  margin-right: 0;
}

#header-topbar .header-left p {
  text-align: right;
}
#header-topbar .header-right .dropdown-menu {
  right: -22px !important;
  left: auto !important;
}
#header-topbar .languages-info .btn-xs::after, 
#header-topbar .desktop-currency-selector .btn-xs::after {
  margin-right: 2px;
  margin-left: 0;
}
#header-top .header-right .dropdown-menu {
  right: auto;
  left: -13px;
}
.header-1 #header-topbar .header-right .row > div:not(:first-child) {
  margin-right: 25px;
  margin-left: 0;
}
.header-1 #header-top .header-right > .row > div:not(:first-child) {
  margin-right: 30px;
  margin-left: 0;
}
.header-1 #header-top .header-right #cart_block {
  margin-left: 15px;
  margin-right: 30px;
}
.header-1 #header-bottom .header-right .block-our-brand .our-brand{
  text-align: right;
}
.header-1 #header-bottom .header-right .block-our-brand .our-brand img {
  right: auto;
  left: 20px;
}
.header-1 #header-bottom .header-right .block-our-brand #our-brand ul li a {
  text-align: right;
}
.h1-slider .jms-slider-wrapper .slider{
  margin-left: 0;
  margin-right: auto;
}
.h1-shop-by-brand .addon-tab .nav-tabs .nav-item:not(:last-child) {
  margin-left: 2px !important;
  margin-right: 0;
}
.h1-shop-by-brand .addon-tab .nav-tabs .nav-item{
  margin-right: 0 !important;
}
.h1-shop-by-brand .layout-column.banner{
  left: 0;
  right: auto;
}
.h1-topseller .row > .layout-column{
  margin-right: auto;
}
.jmsflashsales .countdown-section:not(:first-child) {
  margin-right: 0.4615rem;
  margin-left: 0;
}

.header-2 #header-topbar .header-right .row > div:not(:first-child) {
  margin-right: 25px;
  margin-left: 0;
}
.header-2 #header-top .header-right #cart_block {
  margin-left: 15px;
  margin-right: 30px;
}
.header-2 #header-top .header-right > .row > div:not(:first-child) {
  margin-right: 30px;
  margin-left: 0;
}
.header-2 #header-bottom #hor-menu ul{
  text-align: right;
}
.header-2 #header-bottom #hor-menu .level0 > li:first-child {
  padding-right: 0;
  padding-left: 12px;
}
.header-2 #header-bottom .header-right img {
  margin-left: 2px;
  margin-right: 0;
}
.h2-slider .vermegamenu .vermenu-btn img {
  margin-left: 16px;
  margin-right: 0;
}
.h2-slider .vermegamenu .jms-megamenu {
  left: auto;
  right: -30px;
}
.h2-slider .vermegamenu .jms-megamenu .nav > li > a i {
  margin-right: 0;
  margin-left: 10px;
}
.h2-category-carousel::before {
  right: auto;
  left: 100%;
}
.h2-products .col-left .addon-box:first-child h2,
.h2-products .col-left .addon-box:first-child ul,
.h2-products .col-left .addon-box:first-child p{
  text-align: right;
}
.megatab-icon .addon-tab .nav-tabs li:not(:first-child) {
  margin-right: 8px;
  margin-left: 0 !important;
}
.jms-hotdeal .sold-quantyties .available {
  margin-right: auto;
}
.jms-advsearch #ajax_advsearch{
  border-right: 1px solid #e1e1e1;
  border-left: 0;
}
.jms-advsearch select{
  background-position-x: 16px;
  padding: 0 14px 0 35px;
}

.header-3 #header-topbar .jms-megamenu .nav{
  text-align: right;
}
.header-3 #header-topbar .jms-megamenu .nav > li:first-child {
  padding-right: 0;
  padding-left: 12px;
}
.header-3 #header-topbar .header-right .row > div:not(:first-child) {
  margin-right: 40px;
  margin-left: 0;
}
.header-3 #header-topbar .header-right .row > div:not(:first-child)::before {
  left: auto;
  right: -20px;
}
.header-3 #header-top .header-right #cart_block {
  margin-left: 15px;
  margin-right: 30px;
}
.header-3 #header-top .header-right > .row > div:not(:first-child) {
  margin-right: 30px;
  margin-left: 0;
}
.header-3 #header-top .jms-advsearch select{
  background-position-x: 16px;
}
.header-3 #header-top .vermenu {
  margin-left: 50px;
  margin-right: 0;
}
.h3-product-tab .addon-producttab .nav-tabs .nav-item{
  margin-right: 0 !important;
}
.h3-product-tab .addon-producttab .nav-tabs .nav-item:not(:last-child)::after {
  right: auto;
  left: 0;
}
.h3-category .category-box .parent-category,
.h3-category .category-box .child-categories {
  text-align: right;
}
.h3-category .category-box .child-categories li {
  padding-left: 0;
  padding-right: 1.154rem;
}
.h3-category .category-box .child-categories li::before {
  left: auto;
  right: 0;
}
.h3-productbox-flex .productbox-flex::after {
  right: auto;
  left: 14px;
}
.h3-service-box .layout-column:not(:last-child) .feature-box::after {
  left: -10px;
  right: auto;
}
.feature-box .feature-img {
  margin-left: 1.231rem;
  margin-right: 0;
}
.header-4 #header-topbar #search-form::after {
  right: auto;
  left: 2px;
}
.header-4 #header-topbar #search-form {
  margin-left: 23px;
  margin-right: 0;
}
.header-4 #header-topbar .header-right .row > div:not(:first-child) {
  margin-right: 40px;
  margin-left: 0;
}
.header-4 #header-topbar .header-right .row > div:not(:first-child)::before {
  left: auto;
  right: -20px;
}
.header-4 #header-top .number-phone {
  text-align: right;
}
.header-4 #header-top .number-phone img {
  margin-left: 3px;
  margin-right: 0;
}
.header-4 #header-top .header-right > .row > div:not(:first-child) {
  margin-right: 30px;
  margin-left: 0;
}
.h4-megatab-icon .row > .layout-column{
  margin-right: auto;
}
.h4-categorytab .layout-column.banner {
  left: auto;
  right: 0;
}
.h4-slider .jmsflashsales-tab .tabs-navigation-mobile {
  left: 10px;
  right: auto;
}

.header-5 .header-logo{
  text-align: right;
}
.header-5 #header-top .header-right > .row > div:not(:first-child) {
  margin-right: 30px;
  margin-left: 0;
}
.header-5 #hor-menu .nav{
  text-align: right;
}
.header-5 #header-bottom #hor-menu .nav.level0 > li:first-child {
  padding-right: 0;
  padding-left: 12px;
}
.header-5 #header-bottom .header-right .row > div:not(:first-child) {
  margin-right: 25px;
  margin-left: 0;
}
.header-5 #header-bottom .header-right .row > div:not(:first-child)::before {
  left: auto;
  right: -14px;
}
.h5-category .category-box .parent-category {
  text-align: right;
}
.h5-category .category-box .shop-now {
  margin-right: auto;
  margin-left: 0;
}

.header-6 #header-topbar .col-right .row > div {
  margin-right: 25px;
  margin-left: 0;
}
.header-6 #header-topbar .col-left .row > div:not(:last-child) {
  margin-left: 25px;
  margin-right: 0;
}
.header-6 #header-topbar .col-left .dropdown-menu{
  right: 0;
  left: auto !important;
}
.header-6 #header-top .block-logo {
  margin-right: 15px;
  margin-left: 0;
}
.header-6 #header-top .header-right #wishlist_block {
  padding-left: 30px;
  padding-right: 18px;
}
.header-6 #header-top #ver-menu::before {
  left: auto;
  right: 20px;
}
.h6-producttab .product-miniature::before {
  right: auto;
  left: -1rem;
}
.h6-flashsale .row > .layout-column{
  margin-right: auto;
}
.h6-flashsale .jmsflashsales-tab2 .discount {
  text-align: right;
}
.h6-flashsale .jmsflashsales-tab2 .tabpanel label {
  width: 100%;
  text-align: right;
}
.h6-flashsale .jmsflashsales-tab2 .countdown-section:not(:last-child) {
  margin-left: 0.5385rem;
  margin-right: 0;
}
.h6-flashsale .jmsflashsales-tab2 .flashsales-countdown{
  text-align: right;
}




#ver-menu ul li a i {
  margin-left: 10px;
  margin-right: 0;
}
#ver-menu .open > .dropdown-menu{
  right: 100%;
  left: auto;
}
#ver-menu .jms-megamenu .caret {
  margin-right: auto;
  margin-left: 0;
  transform: rotate(180deg);
}

#header-bottom .vermenu-btn img {
  margin-left: 16px;
  margin-right: 0;
}

#header-sidebar.right-sidebar {
  left: -350px;
  right: auto; }

.sidebar-right-open #header-sidebar.right-sidebar {
  left: 0;
  right: auto; }

.sidebar-right-open #header-sidebar.left-sidebar {
  right: 0;
  left: auto; }

#header-sidebar.left-sidebar {
  right: -350px;
  left: auto; }

#header-sidebar .block-newsletter .newsletter-input-group .btn-icon {
  left: 0;
  right: auto; }

#header-sidebar .btn-close {
  left: 35px;
  right: auto; }

.email_subscription .newsletter-input-group button.btn-icon {
  right: auto;
  left: 0;
}
#social-links li:not(:last-child) {
  margin-left: 1.154rem !important;
  margin-right: 0;
}
.blog-item {
  text-align: right; }
.blog-carousel .post-meta li{
  margin-left: 0.7692rem;
  margin-right: 0;
}
.blog-carousel .post-meta li:not(:last-child)::after {
  left: -0.7692rem;
  right: auto;
}
.blog-carousel .post-title {
  text-align: right; }

.blog-carousel .post-meta {
  text-align: right; }

.blog-carousel .post-created {
  right: 0.8rem;
  left: auto; }

.blog-carousel .post-intro {
  text-align: right; }

.fs-pager-wrapper {
  right: auto;
  left: 4.667rem; }
  .fs-pager-wrapper a::before {
    margin-left: 0.7333rem;
    margin-right: 0; }

.shoppingcart-box.shoppingcart-sidebar {
  -webkit-transform: translate3d(-115%, 0, 0);
  transform: translate3d(-115%, 0, 0); }

.user-info-content.user-info-sidebar {
  -webkit-transform: translate3d(-115%, 0, 0);
  transform: translate3d(-115%, 0, 0); }

#cart_block .ajax_cart_quantity {
  left: -14px;
  right: auto; }

.cart_block_list .layout-column.product-info {
  padding-right: 15px;
  padding-left: 0; }
.cart-prices-line .value {
  float: left;
}
.jms-megamenu .nav > .menu-item .mega-nav li {
  text-align: right; }
.jms-megamenu .dropdown-menu{
  right: -16px;
  left: auto;
}
.jms-megamenu .nav > .menu-item .mega-nav li.mega > a::before {
  left: 30px;
  right: auto;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.jms-megamenu .mega-nav > .mega > .dropdown-menu {
  right: 100%;
  left: auto; }

.jms-megamenu .caret {
  margin-right: 5px;
  margin-left: 0; }

.dropdown-menu {
  text-align: right; }

.product-miniature .old.price {
  margin-left: 0.8rem;
  margin-right: 0; }

#search-form-full .search-box .search-box-close {
  right: auto;
  left: 10px; }
.search-result-area .search-product-image {
  margin-left: 1.154rem;
  margin-right: 0;
}
.search-result-content {
  text-align: right; }

.search_product_list .layout-column.product-info {
  padding-right: 15px;
  text-align: right;
  padding-left: 0; }

.search-form .button-search {
  left: 0;
  right: auto; }

.jms-row.promo-bar .layout-column.left p {
  text-align: right;
  text-align: center; }

.jms-row.promo-bar .layout-column.right p {
  text-align: left;
  text-align: center; }

.header-mobile-2 .header-left {
  text-align: right; }

.header-mobile-4 .header-left {
  text-align: right; }

.header-mobile-4 .mobile-menu-wrap {
  left: -310px;
  right: auto;
  -webkit-transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  -o-transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s; }

.mobile-menu-wrap {
  right: -310px;
  -webkit-transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  -o-transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s;
  transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s; }

.show-menu .mobile-menu-wrap {
  -webkit-transition: right 0.4s;
  -o-transition: right 0.4s;
  transition: right 0.4s;
  right: 0; }

.show-menu .header-mobile-4 .mobile-menu-wrap {
  -webkit-transition: left 0.4s;
  -o-transition: left 0.4s;
  transition: left 0.4s;
  left: 0;
  right: auto; }

.close-button h3 {
  float: right; }

.close-button i {
  float: left; }

#off-canvas-menu .nav > li > a {
  text-align: right; }

#off-canvas-menu .mega .caret {
  float: left;
  text-align: left; }
#off-canvas-menu .open > .dropdown-menu .mega-nav {
  padding-right: 20px;
  padding-left: 0;
}
#off-canvas-menu .top-column {
  text-align: right;
}
.productbox-3 .addToWishlist {
  left: 0.8rem;
  right: auto; }

.js-product-miniature .product-info {
  text-align: right; }

.js-product-miniature .product-title a{
  text-align: right;
}
.products-list .product-buttons li{
  margin-left: 20px;
  margin-right: 0;
}
.block-categories ul li .navbar-toggler {
  right: auto;
  left: 0;
}
.block-categories ul li .navbar-toggler.collapsed .lnr-chevron-right {
  transform: rotate(180deg);
}
.block-categories .sub-list {
  padding-right: 1.154rem;
  padding-left: 0;
}
#woorebought-popup {
  right: 10px !important;
  left: auto !important; }
  #woorebought-popup .woorebought-content {
    text-align: right; }
  #woorebought-popup #popup-close {
    right: auto;
    left: 10px; }

#module-psgdpr-gdpr .page_content{
  text-align: right;
}
#exportDataToCsv{
  margin-right: 0
}
#my-account .links > div:not(:last-child) {
  border-left: 0;
  border-right: 1px solid #ebebeb;
}
#mywishlist {
  text-align: right; }

#hideWishlist {
  margin-left: 10px; }

.wlp_bought_list .group_btn a {
  margin-left: 5px;
  margin-right: 0; }

#order-slip #content-wrapper {
  text-align: right; }

#history #content-wrapper {
  text-align: right; }

.links .link-item i {
  margin-left: 10px;
  margin-right: 0; }

#product-availability span.available::before {
  margin-left: 6px;
  margin-right: 0;
}
.product-prices #product-availability {
  margin-right: 2.769rem;
  margin-left: 0;
}
.product-variants .product-variants-item:not(:last-child) {
  margin-left: 6.692rem;
  margin-right: 0;
}

#footer #footer-copyright .copyright-content p {
  text-align: right;
}
#footer-main .block {
  text-align: right; }
  #footer-main .block .block-title i {
    float: left; }

.footer-copyright .copyright-content {
  text-align: right; }

.breadcrumb ul.align-left {
  text-align: right; }

.breadcrumb ul.align-right {
  text-align: left; }

#search_filters .facet .facet-label {
  text-align: right; }

#search_filters .ui-slider-horizontal {
  margin-right: auto; }

#search_widget form::after {
  right: auto;
  left: 10px; }

#js-product-list-top .col-left {
  text-align: right; }

#products-top .col-right {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
#products-top .col-right .sort-by {
  margin-right: auto;
  margin-left: 0;
}

#products-top .filter-button {
  margin-right: 10px;
  margin-left: 0; }

.view-mode .switch-view.view-grid {
  margin-left: 10px;
  margin-right: 0; }

#js-active-search-filters > ul li {
  margin-right: 0;
  margin-left: 20px; }

#js-active-search-filters .active-filter-title {
  margin-left: 15px;
  margin-right: 0; }

#search_filters .custom-checkbox {
  margin-left: 0.4615rem;
  margin-right: 0;
}

.pagination li a.next {
  background: url("../img/icons/prev-2.png") center no-repeat; }

.pagination li a.previous {
  background: url("../img/icons/next-2.png") center no-repeat; }

.quickview-modal .modal-body .right {
  text-align: right; }

.quickview-modal .content_price .price.old {
  margin-left: 0.8rem;
  margin-right: 0;
}

.modal-dialog .close {
  left: 14px;
  right: auto; }

.address-body {
  text-align: right; }

.addresses-footer {
  text-align: right; }

.js-address-form {
  text-align: right; }

.rating .product-additional-info {
  margin-right: 1.615rem;
  margin-left: 0;
}
.product-desc li {
  padding-left: 0;
  padding-right: 0.7692rem;
}
.product-desc li::before {
  left: auto;
  right: 0;
}
.product-detail .pb-right-column {
  text-align: right; }

.product-actions .product-variants select{
  background-position: left 50%;
}
.product-add-to-cart .input-group-btn-vertical .bootstrap-touchspin-up {
  border-radius: 4px 0px 0px 4px;
}
.product-add-to-cart .input-group-btn-vertical .bootstrap-touchspin-down {
  border-radius: 0px 4px 4px 0px;
}
.product-cover .zoom-icon {
  left: 10px;
  right: auto;
}

.product-variants-item.size {
  margin-left: 65px;
  margin-right: 0; }

.product-variants-item .control-label {
  margin-left: 0.7692rem;
  margin-right: 0; }

.product-variants-item ul li {
  margin-left: 5px;
  margin-right: 0; }

.product-variants-item.color ul li {
  margin-left: 0.5385rem;
  margin-right: 0; }

.product-quantity .customs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 0; }

.product-quantity .qty .input-group {
  padding-right: 2.077rem;
  padding-left: 0; }

.input-group-btn-vertical .bootstrap-touchspin-down {
  right: 0;
  left: auto; }
.product-add-to-cart .title {
  margin-right: 0;
  margin-left: 1.231rem;
}
.product-add-to-cart .addToWishlist i {
  margin-left: 8px;
  margin-right: 0; }

#more_info_block .nav.nav-tabs {
  text-align: right; }

#more_info_block .tab-content {
  text-align: right; }

#more_info_block .panel {
  text-align: right; }
#more_info_block .panel-heading a.collapsed::after {
  content: "\e875";
}
#more_info_block .panel-heading a {
  text-align: right;
  padding-left: 1.615rem;
  padding-right: 0; }

#more_info_block .panel-heading a::after {
  margin-right: 0.3077rem;
  margin-left: 0;
  left: 0;
  right: auto;
}

#review .grade-stars .star-content {
  right: 10px;
  left: auto;
}
.product-comment-list-item {
  text-align: right;
}
.post-product-comment.write-review {
  float: left;
}
.product-comment-list-item .comment-buttons a:not(:last-child) {
  margin-left: 5px;
  margin-right: 0;
}

.sidebar-column {
  text-align: right; }

.product-flags {
  left: auto;
  right: 0; }

.thumbnails.js-thumbnails {
  right: calc(100% + 0.7692rem);
  left: auto;
}

.thumbs-left .js-qv-mask {
  margin-left: 1.538rem;
  margin-right: 0;
}

.thumbs-right .js-qv-mask {
  margin-right: 1.538rem;
  margin-left: 0; }

.images-container.grid .product-images > li.thumb-container:nth-child(2n+1) {
  margin-left: 30px;
  margin-right: 0; }

.product-layout-3columns .product-quantity {
  margin-left: 20px;
  margin-right: 0; }

.blog-widget .item-post .post-thumb {
  margin-left: 20px;
  margin-right: 0; }

.blog-widget .haschild > a i {
  left: 0;
  right: auto; }

.blog-widget .haschild #child {
  margin-right: 20px;
  margin-left: 0; }
.single-blog .created, .cat-post-list .created{
  right: 0.6154rem;
  left: 0;
}

.single-blog .post-meta .created {
  right: 12px;
  left: auto; }

.single-blog .post-fulltext .testimonial {
  text-align: right;
  text-align-last: right;
  border-right: 3px solid #14c2ee;
  border-left: 0; }

.cat-post-list .post-meta .created {
  right: 12px;
  left: auto; }

.page-heading {
  text-align: right; }

#post-comments .post-comment-info .user-image {
  margin-left: 20px;
  margin-right: 0; }

#post-comments .post-info {
  text-align: right; }

#comments #new_comment_form_footer {
  text-align: right; }

#login-wrapper h3 {
  text-align: right; }

#login-wrapper .signup-form {
  text-align: right; }

#login-form .form-group::before {
  left: auto;
  right: 15px; }

#login-form .form-footer {
  text-align: right;
  padding-left: 15px;
  padding-right: 0; }

#login-form .return-store {
  text-align: left; }

#login-form label {
  padding-right: 31px;
  padding-left: 0;
  text-align: right; }

#login-form .show-pass {
  margin-right: 0;
  margin-left: 8px; }

#contact-info {
  text-align: right; }

#contact-wrapper h3 {
  text-align: right; }

#contact-form .form-footer {
  text-align: right; }

#contact-form .bootstrap-filestyle .btn-default {
  border-radius: 4px 0px 0px 4px;
}

#contact #contact-wrapper .social-links a {
  margin-left: 9px;
  margin-right: 0; }

.page-cms {
  text-align: right; }

.cart-items {
  text-align: right; }

.content ul li:first-child a {
  padding-right: 0;
  padding-left: 1rem;
}

#block-reassurance .block-reassurance-item span.h6 {
  text-align: right; }
body#checkout #cart-summary-product-list .media-left img {
  margin-left: 1rem;
  margin-right: 0;
}
body#checkout #cart-summary-product-list .media-left {
  max-width: 6rem;
  margin-left: 1rem;
  margin-right: 0;
}
#checkout section#content #cart-summary-product-list .media-list .media-body {
  text-align: right;
}
body#checkout section.checkout-step.-complete .step-title {
  text-align: right; }

body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
  float: left; }

body#checkout section.checkout-step .step-edit .edit {
  margin-left: 5px;
  margin-right: 0; }

#checkout .checkout-step {
  text-align: right; }
#checkout .address-footer a i {
  margin-left: 0.3846rem;
  margin-right: 0;
}
body#checkout section.checkout-step.-current .content .add-address i {
  margin-left: 0.2308rem;
  margin-right: 0;
}
body#checkout section.checkout-step.-current .content .form-control-select{
  background-position: left !important;
}
#checkout #delivery-address .form-footer button {
  margin-left: 0.4615rem;
  margin-right: 0;
}

.custom-checkbox input[type="checkbox"] {
  margin-left: 3px;
  margin-right: 0; }

.custom-checkbox label {
  text-align: right;
}

.custom-radio {
  margin-left: 3px;
  margin-right: 0; }

.done {
  margin-left: 5px;
  margin-right: 0; }

#content-hook_order_confirmation {
  text-align: right; }

#content-wrapper .page-title {
  text-align: right; }

.show .shoppingcart-box.shoppingcart-sidebar {
  left: 0;
  right: auto; }

.show .user-info-content.user-info-sidebar {
  left: 0;
  right: auto; }

.header-right .dropdown-menu {
  left: 10px;
  right: auto; }

.header-mobile-1 .header-left {
  text-align: right; }

.tabs-navigation-mobile .dropdown-menu {
  right: auto;
  left: 0 !important;
}

#stores .store-description {
  text-align: right;
}
#stores .store-date-hour .value {
  float: right;
}
#stores .page-stores{
  text-align: right;
}
#sitemap .sitemap h5 {
  text-align: right;
}
#sitemap .row.sitemap{
  text-align: right;
}
#sitemap .sitemap ul.nested > li {
  border-right: 1px solid #d6d4d4;
  border-left: 0;
  margin-right: 1.615rem;
  margin-left: 0;
  padding-right: 2.538rem;
  padding-left: 0;
  background-position: right; 
}



@media (min-width: 576px) {
  #products-top .pagination {
    margin-left: 10px;
    margin-right: 0;
    line-height: 44px; }
  #more_info_block.tab-left .nav-tabs .nav-item {
    margin-left: 6px;
    margin-right: 0; }
  .feature-box .image {
    margin-left: 16px;
    margin-right: 0; } }
@media (min-width: 992px){
  #footer #footer-copyright .layout-column.payment-img {
    text-align: left;
  }
  .jmsflashsales .title .addon-title {
    padding-left: 15px;
    padding-right: 0;
  }
  .jmsflashsales .title .flashsales-countdown {
    padding-left: 0;
    padding-right: 17px;
  }
  .megatab-icon .addon-tab-title {
    padding-right: 0;
    padding-left: 15px;
  }
  .megatab-icon .tabs-navigation {
    padding-right: 10px;
    padding-left: 102px;
  }
}
@media (min-width: 1200px){
  .block-brand .col:not(:first-child) {
    border-right: 0;
    border-left: 1px solid #ebebeb;
  }
  .h4-categorytab .tab-content {
    margin-right: 360px;
    margin-left: 0;
  }
  .h1-banner-1 .container > .row {
    margin-right: 310px;
    margin-left: 0;
  }
  .h1-banner-1 .jms-banner > a {
    border-right: 0;
    border-left: 1px solid #ebebeb;
  }
  .h1-shop-by-brand .tab-content {
    margin-left: 440px;
    margin-right: 0;
  }
  #footer #footer-main .layout-column.wrapper {
    padding-right: 60px;
  }
}